:root{
    --primary-color:#000;
    --secondary-color: #D3CCE3;
    --highlight-color: #b20a2c;
    
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #fff;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

body{
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header h1{
    width: 700px;
    padding-top: 100px;
}

.datatable-container{
    font-family: 'Noto Sans', sans-serif;
    border-radius: 6px;
    border: 5px solid #000;
    background-color: var(--dt-background-color-container);
    color: var(--dt-text-color);
    width: 700px;
    margin: 0 auto;
    font-size: 12px;
}

.datatable-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    background: conic-gradient(from 225deg at 70% 40%, #ff0d00, #ff3d1f, #ff5836, #ff6e4c, #ff8361, #ff9677, #ffa88c, #ffbaa3, #ffcbb9, #ffddd0, #ffeee7, #ffffff);}

.datatable-container .header-tools title{
    width: 30%;
}


.datatable-container .header-tools .title h1{
    margin-left: 150px;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    color: white;
    text-shadow: #000;
}

.datatable-container .header-tools .tools{
    width: 70%;
}

.datatable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .footer-tools .list-items{
    width: 50%;
}

.datatable-container .footer-tools .pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.datatable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button{
    font-family: 'Noto Sans', sans-serif;
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}

.datatable-container .footer-tools .pages ul li span.active{
    background-color: var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding); 
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color); 
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even){
    background-color:  var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
    color: white;
}


    
